.gradle
.idea

.classpath
.project
.settings

*.launch
swen20003*.zip
submission.zip

out
build
natives
libs

# Contains student-specific info (e.g. student id & username)
student.properties

specification.pdf